

#whatwedo{
	margin-top:200px;
}

#whatwedo h3{
	margin-top: 2em;
	color: rgb(44, 64, 88);
	text-align: center;
	font-size: 4vw;
	line-height: 0;
}

#we_do{
	margin-top:140px;
	margin-left:15%;
	width:70%;
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap; 
	height:230px;
	
}

.we_do_item{
  font-size: 18px;
  font-family: "Gotham";
  color: rgb(44, 64, 88);
  text-transform: uppercase;
  line-height: 1.222;
  text-align: center;
  width:100px;
}

._line_class{
	margin-top:20px;
	background-color: rgb(44, 64, 88);
	width: 30px;
	height: 1px;
}

.project_subtitle{
	color: rgb(75, 85, 98);
	padding: 0;
	line-height: 0;
	font-size:3vw;
	text-align: left;
	margin-top:-0.05em;
}
.project_title{
	line-height: 0;
	color: rgb(75, 85, 98);
	font-weight:normal;
	font-style:normal;
	padding: 0;
	font-size:1.8vw;
	text-align: left;
	letter-spacing:0.01em;
}


section{
	font-size: 18px;
	color: rgb(75, 85, 98);
	line-height: 1.667;
	text-align: left;	
}

#project1{
	width:100%;
	display:flex;
	flex-wrap:wrap;
	font-family: 'Open Sans', sans-serif;
}

#img1{
	position:absolute;
	width: 585px;
	height: 470px;
	background-color: rgb(85, 183, 255);
	overflow: hidden;
}

#img2{
	position:relative;
	margin-top:70px;
	width: 630px;
	height: 470px;
	margin-left:100px;
}

#project1 .text{
	margin-left:5%;
	margin-top:70px;
	position:relative;
	background-color:white;
	width:470px;
	height:400px;
}

#project2{
	margin-top:150px;
	display:flex;
	flex-wrap:wrap;
	width:100%;
}

#project2 .text{
	margin-top:80px;
	margin-left:100px;
	line-height: 1.091;
}

#project2 section{	
	width:400px;
}

#project2 #frame{
	margin-left:80px;
	right:215px;
	margin-top:70px;
	width: 630px;
	height: 470px;
}
	

#project2 #back{
	position:absolute;
	background-color: rgb(126, 90, 255);
	right:0px;
	width: 585px;
	height: 470px;
	z-index:-1;
}
